<nav>
    <%= link_to 'Home', root_path, class: "navlink" %>

    <% if not user_signed_in? %>
        <%= link_to 'Sign Up', new_user_registration_path, class: "navlink" %>
        <%= link_to 'Sign In', user_session_path, class: "navlink" %>
    <% end %>

    <% if user_signed_in? %>
        <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete, class: "navlink"%>
    <% end %>



</nav>